#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  padding: 0;
}

#container > div.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  grid-area: content;
}

#container > div.content > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

aside {
  width: 200px;
}

#chats {
  display: flex;
  flex-direction: row-reverse;
  padding: 0;
  background-color: cadetblue;
}

#chats .contacts {
  width: 200px;
  background-color: bisque;
  line-height: 1rem;
  cursor: pointer;
}

.only-small {
  // display: none;
}

.material-symbols-outlined {
  vertical-align: middle;
}

@media screen and (max-height: 600px) {
  #chats {
    display: none;
  }
}
